<div class="container-menu">
	<div class="element-menu">
		<div class="element-icon">
			<img src="http://loremicon.com/i/line/32/upload_32px" />
		</div>
		<a class="element-text" href="/">Home</a>
	</div>
	<div class="element-menu">
		<div class="element-icon">
			<img src="http://loremicon.com/i/line/32/upload_32px" />
		</div>
		<a class="element-text" href="/rankings">Rankings</a>
	</div>
	<div class="element-menu">
		<div class="element-icon">
			<img src="http://loremicon.com/i/line/32/upload_32px" />
		</div>
		<a class="element-text" href="/photowall">Photowall</a>
	</div>
	<div class="element-menu">
		<div class="element-icon">
			<img src="http://loremicon.com/i/line/32/upload_32px" />
		</div>
		<a class="element-text" href="/feeds">Feeds</a>
	</div>
	<div class="element-menu">
		<div class="element-icon">
			<img src="http://loremicon.com/i/line/32/upload_32px" />
		</div>
		<a class="element-text" href="/partners">Partners</a>
	</div>
</div>